
@import 'elementi' ;

main{
    @include setup_container ;
    flex-direction: column;
   #sub_container{
    @include sub_container ;
    border-radius: 20px;
   
    @media all and (max-width:430px)and (max-height:500px){
        height: 60vh;
        width: 95%;
    }
    @media all and (max-width:376px){
        height: 50vh;
        width: 90%;
    }
    ul{
        list-style:circle;
        margin-left: 25px;
        font-family: 'PT Mono', monospace;
        font-size: larger;

        @media all and (max-width:430px){
            font-size: 15px;
        }
        @media all and (max-width:376px){
            font-size: 15px;
        }
        #span1{
            color:#ded30b;
        }
        #span2{
            color: greenyellow;
        }
    }
    .img{
        padding-left: 10px;
        border-radius: 20px;
        @media all and (max-width:430px){
            width: 150px;
            
        }
        @media all and (max-width:376px){
            width: 90px;
        }
    }
    }
}
