@import 'elementi' ;

main{
    
    @include setup_container;
    background: linear-gradient(rgba(250, 241, 241, 0.774),rgba(242, 250, 241, 0.774), rgba(213, 186, 10, 0.979)), url(./media/img/portfolio/texture.png);    
    #sub_container{
        @include sub_container;
        margin-top: 60px;
        background-color: rgba(255, 255, 255, 0.656);
        flex-direction: column;
        border-radius: 20px;
        .img{
            @extend %img_setup;
        }
        ul{
            list-style:circle;
            font-family: 'PT Mono', monospace;
            font-size: larger;
            list-style:none;
            .span2{
                color: greenyellow;
            }
            li{
                text-align: center;
                font-size: 15px;
                @media all and (max-width:425px){
                    font-size: 15px;
                }
                @media all and (max-width:375px){
                    font-size: 15px;
                }
            }
        }
        .span1{
            color:#ded30b;
            font-size: 25px;
        }
        .img{
            width: 200px;
            border: solid black 2px;
            border-radius: 20px;
        
        }
    }
}

footer{
    @include footer;
    .logo_social{
        width: 40px;
        height: 40px;
        padding: 2px 6px;
        @media all and (max-width:320px){
            width: 35px;
            height: 30px;
        }
}
    p{
        font-size: 20px;
        @media all and (max-width:425px){
            font-size: 18px;
        }
        @media all and (max-width:375px){
            font-size: 16px;
        }
        @media all and (max-width:320px){
            font-size: 15px;
        }
    }   
}