@import 'elementi' ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-bottom: solid yellow 3px;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li{
           
            height: 50px;
            border-radius: 5px;
            a{
                height: 100%;
                padding: 0 20px;
                text-decoration: none;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: black;
                &:hover,&:active{
                    background: rgb(248, 227, 33);
                    color: white;
                }
            }
        }
        span{
            margin-right: 10px;
            display: none;
            @media(min-width:427px){
                display: none;
            }
            @media(max-width:426px){
                display: block;
            }
            @media(max-width:375px){
                display: block;
            }
            @media(max-width:320px){
                display: block;
            }
        }
        
    }
    
    .sidebar{
        position: pointer;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0; 
        right: 0;
        height: 100vh;
        width: 160px;
        z-index: 3;
        box-shadow: -10px 0 10px rgba(0,0,0,0.1);
        background-color: rgba(255, 255, 255, 0.403);
        backdrop-filter: blur(10px);
        li,a {
            width: 100%;
            margin-top: 10px;
        }
    }
}

@media(max-width:600px){
    .hidemobile{
        display: none;
    }
    
}
main{
    flex-direction: column;
    height: auto;
    width: 100%;
    .container1{
        @include setup_container ;
        background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(./media/img/header_bg.jpg);
        @extend %img_setup;
        background-size: cover;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        .logo_container1{
            width: 70px;
            margin-top: 100px;
        }
        .p1{
            display: flex;
            font-family: 'PT Mono', monospace;
            margin-top: 20px;
            font-size: 25px;
            color: white;
        }
        .p2{
            flex: auto;
            display: flex;
            margin-top: 20px;
            text-align: center;
            font-size: 60px;
            color: #fff200;
            @media all and (max-width:426px){
                font-size: 50px;
            }
            @media all and (max-width:376px){
                font-size: 40px;
            }
        }
        .container1_btn{
            border: solid #b5ad0b 2px;
            background-color: rgba(0, 0, 128, 0);
            padding: 10px 80px;
            margin-bottom: 75px;
            font-family: 'PT Mono', monospace;
            text-decoration: none;
            color: white;
            &:hover{
                background-color: #ffffff;
                color: black;
            }
            @media all and (max-width:430px){
                padding: 5px 40px;
            }
        }
        .p3{
            color: white;
            font-size: 50px;
        }
    }
    .container2{
        @include setup_container ;
        .text_container2{
            @include sub_container ;
            flex-direction: column;
            overflow: hidden;
            text-align: center;
            .p1{
                font-size: 30px;
                font-style:italic;
            }
            .p2{
                font-size: 30px;
                font-weight: bold;
                color: #fff200;
                @media all and (max-width:425px){
                    font-size: 25px;
                }
                @media all and (max-width:375px){
                    font-size: 20px;
                }
                @media all and (max-width:320px){
                    font-size: 20px;
                }
            }
            
            .sub_text_container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                p{
                    flex-wrap: wrap;
                    font-size: 13px;
                    padding: 0 5px;
                    .span1{
                        font-size: 20px;
                        font-weight: bold;
                        color: #fff306;
                    }
                    .span2{
                        color: grey;
                        text-align: left;
                        font-size: 15px;
                        
                        @media all and (max-width:425px){
                            font-size: 13px;
                        }
                        @media all and (max-width:375px){
                            font-size: 10px;
                        }
                        @media all and (max-width:375px){
                            font-size: 8px;
                        }
                    }
                    @media all and (max-width:425px){
                        font-size: 13px;
                    }
                    @media all and (max-width:375px){
                        font-size: 10px;
                    }
                    @media all and (max-width:375px){
                        font-size: 12px;
                    }

                }
            }
        }
    }
    .container3{
        @include setup_container ;
        background: linear-gradient(rgba(241,226,84, 0.8), rgba(241,226,84, 0.8)), url(./media/img/about_bg.jpg);
        @extend %img_setup ;
        flex-direction: column;
        justify-content:end;
        padding: 25px;
        #sub_p{
            text-align: center;
            text-transform: uppercase;
            font-size: 23px;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 80px;
        }
        #sub_p2{
            color: #828080;
            font-size: 15px;
            margin-bottom: 40px;
            text-align: center;
        }
    
    }
    .container4{
        @include setup_container;
        .sub_container{
            @include sub_container ;
            text-align: center;
            flex-direction: column;
            p{
                font-size: 15px
            }
            .gallery_container{
                @include galleria ;
                ul{
                    list-style: none;
                    li{
                        display: inline;
                        padding: 5px;
                        .gallery_element{
                            border-radius: 20px;
                            border: solid yellow 2px;
                            height: 135px;
                            width: 140px;
                            &:hover{
                                height: 150px;
                                width: 150px;
                                transition: 0.5s;
                            }
                            @media all and (max-width:426px){
                                height: 80px;
                                width: 80px;
                            }
                            @media all and (max-width:376px){
                                height: 75px;
                                width: 75px;
                            }
                            @media all and (max-width:320px){
                                height: 70px;
                                width: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
    .container5{
        @include setup_container ;
        justify-content: space-around;
        flex-direction: column;
        @extend %img_setup ;
        background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(./media/img/clients_bg.jpg);
        @media all and (max-width:430px){
            background-position: center;
        }
        .p1{
            font-size: 30px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }
        .p2{
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff306;
        }
        .icon_container{
            display: flex;
            @include galleria;
            padding: 12px ;

            .logo{
                width: 80px;
                height: 80px;

                &:hover{
                    transform: rotate(360deg);
                    transition: 2.5s;
                }
                @media all and (max-width:426px){
                    width: 50px;
                    height: 50px;
                }
                @media all and (max-width:376px){
                    width: 40px;
                    height: 40px;
                }
                @media all and (max-width:321px){
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    .container6{
        @include setup_container ;
        .sub_container{
            @include sub_container ;
            flex-direction: column;
            text-align: center;
            p{
                text-transform: uppercase;
                font-size: 20px;
                @media all and (max-width:426px){
                    font-size: 15px;
                }
                @media all and (max-width:321px){
                    font-size: 15px;
                }
            }
            .p2{
                font-size: 15px;
                color:#828080;
                @media all and (max-width:430px){
                    font-size: 13px;
                }
                @media all and (max-width:430px){
                    font-size: 12px;
                }
            }
            form{
                display: inline;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                padding: 0;
                @media all and (max-width:376px){
                    padding: 10px 5px;
                }
                @media all and (max-width:320px){
                    padding: 10px 5px;
                }
                p{
                    font-size: 20px;
                    color:#fff306;
                }
                .form_input , textarea {
                    width: 70%;
                    margin-top: 5px; 
                }
                .form_input{
                    height: 30px;
                }
                textarea{
                    height: 60px
                }
                .form_button{
                    font-size: 18px;
                    padding: 3px 50px;
                    background-color: #fff200;
                    border: solid 2px #fff200;
                    color: #6c6868;
                    
                    &:hover{
                        background-color: #6c686800;
                        cursor: pointer;
                    }
                    &::after{
                        padding: 5px 50px;
                        background-color: #fff200;
                        border: solid 2px #fff200;
                    }
                    @media all and (max-width:426px){
                        padding: 3px 30px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

footer{
    @include footer;
    .logo_social{
        width: 40px;
        height: 40px;
        padding: 2px 6px;
        @media all and (max-width:320px){
            width: 35px;
            height: 30px;
        }
}
    p{
        font-size: 20px;
        @media all and (max-width:425px){
            font-size: 18px;
        }
        @media all and (max-width:375px){
            font-size: 16px;
        }
        @media all and (max-width:320px){
            font-size: 15px;
        }
    }   
}